html,
body {
    overflow: hidden;
}

.application {
    width: 100%;
    height: 100vh;
}

.page {
    width: 100%;
}

.status {
    padding: 0.7rem 1.3rem;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgba(204, 204, 204, 0.2);
    border-radius: 50px;

    &--accepted {
        border-color: rgb(91, 140, 90);
        background-color: rgba(91, 140, 90, 0.2);
    }

    &--cancelled {
        border-color: rgb(227, 101, 91);
        background-color: rgba(227, 101, 91, 0.2);
    }
}

.table {
    // Variables
    // ---------------------
    $table-header-font-weight: 400;
    $table-header-font-color: #757575;

    $table-cell-padding: 1.6rem;
    $table-condensed-cell-padding: $table-cell-padding / 2;

    $table-bg: #fff;
    $table-bg-accent: #f5f5f5;
    $table-bg-hover: rgba(0, 0, 0, 0.12);
    $table-bg-active: $table-bg-hover;
    $table-border-color: #e0e0e0;

    width: 100%;
    max-width: 100%;
    background-color: $table-bg;

    > thead,
    > tbody,
    > tfoot {
        > tr {
            transition: all .3s ease;

            > th,
            > td {
                text-align: left;
                padding: $table-cell-padding;
                vertical-align: center;
                border-top: 0;
                transition: all .3s ease;
            }
        }
    }

    > thead > tr > th {
        font-weight: $table-header-font-weight;
        color: $table-header-font-color;
        vertical-align: bottom;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    > tbody + tbody {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    // Nesting
    .table {
        background-color: $table-bg;
    }

    // Remove border
    .no-border {
        border: 0;
    }

    &__row {
        &--flex {
            display: flex;

            td,
            th {
                flex: 1;
            }
        }
    }

    &__column {
        &--small {
            max-width: 130px;
        }
        &--medium {
            max-width: 190px;
        }
    }
}

.list {
    list-style: disc;
    margin-left: var(--space-l);
    margin-top: var(--space-s);

    li {
        list-style: disc;
    }
}
