.home-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);

    .display-l {
        color: var(--white);
    }

    img {
        margin-top: calc(-1 * var(--space-xl));
        height: 300px;
    }

    .slides {
        .slide {
            min-height: 100vh;
        }
    }
}
