.menu {
    margin-left: calc(var(--space-l) * 1.5);
    display: flex;

    &__element {
        margin-right: var(--space-m);
        color: var(--white);
        text-decoration: none;
        padding: var(--space-xs) calc(var(--space-s) * 1.5);
        border-radius: 5px;
        transition: color, background-color 0.2s ease-out;

        &--active {
            color: var(--main-color);
            background-color: rgb(242, 251, 255);
        }

        &:hover:not(.menu__element--active) {
            background-color: rgba(242, 251, 255, 0.4);
        }
    }
}
